<html>
    <head>
        <title>Register</title>
    </head>
    <body>
      <form action="/register" method="POST">
      {% csrf_token %}
        <h2>Register</h2>

        <div>
          <label for="email">Email</label>  
          <div>
            <input id="email" name="email" type="email" value="{{ email }}" placeholder="email">
          </div>
        </div>
        <div>
          <label for="password">Password</label>  
          <div>
            <input id="password" name="password" type="password" value="{{ password }}" placeholder="password">
          </div>
        </div>
        <div>
          <label for="register"></label>  
          <div>
            <button id="register" name="register" type="submit">Register</button>
          </div>
        </div>
        <div>
          {{error}}
        </div>
      </form>
    </body>
</html>

