<html>
    <head>
        <title>Adding courses</title>
    </head>
    <body>
      <form action="/courses/new/" method="POST">
      {% csrf_token %}

        <div>
          <label for="name">Course name</label>  
          <div>
            <input id="name" name="name" type="text" value="{{ name }}" placeholder="name">
          </div>
        </div>
        <div>
          <label for="description">Course description</label>  
          <div>
            <input id="description" name="description" type="text" value="{{ description }}" placeholder="description">
          </div>
        </div>
        <div>
          <label for="start_date">Course start date</label>  
          <div>
            <input id="start_date" name="start_date" type="text" value="{{ start_date }}" placeholder="start_date">
          </div>
        </div>
        <div>
          <label for="end_date">Course end date</label>  
          <div>
            <input id="end_date" name="end_date" type="text" value="{{ end_date }}" placeholder="end_date">
          </div>
        </div>
        <div>
        <div>
          <label for="approximation">Approximation</label>  
          <div>
            <input id="approximation" name="approximation" type="text" value="{{ approximation }}" placeholder="months">
          </div>
        </div>
        <div>
          <label for="submit"></label>  
          <div>
            <button id="submit" name="submit" type="submit">SUBMIT</button>
          </div>
        </div>
      </form>
    </body>
</html>

